.card {
  position: relative;
  width: 305px;
  height: 263px;
}

@media screen and (min-width: 768px) {
  .card {
    max-width: 305px;
  }
}

.cardLink {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  box-shadow: 0px 0.996px 3.984px 0px rgba(51, 51, 51, 0.15);
  transform: scale(1);
  transition: transform 500ms var(--cubic), box-shadow 500ms var(--cubic);

  &:is(:hover, :focus) {
    transform: scale(0.9);
    box-shadow: 0px 0.996px 3.984px 0px var(--violet);
  }
}

.imgWrap {
  width: 124px;
  height: 124px;
  border-radius: 50%;
  overflow: hidden;
}

.name {
  font-size: 20px;
}

.likeBtn {
  position: absolute;
  bottom: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 28px;
  border-radius: 4px;
  background-color: var(--light-grey);
  transition: background-color 250ms ease;
}

.likeBtn:hover {
  background-color: var(--violet);
}

.likeBtn:hover .likeIcon {
  fill: var(--white);
}

.likeIcon {
  fill: var(--white);
  stroke: var(--black);
  transition: fill 250ms ease;
}

.favourite {
  stroke: var(--violet);
  fill: var(--violet);
}
