.user {
  position: relative;
  width: 305px;
  height: 263px;

  @media screen and (min-width: 768px) {
    max-width: 305px;
  }

  &__link {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0px 0.996px 3.984px 0px rgba(51, 51, 51, 0.15);
    transform: scale(1);
    transition: transform 500ms var(--cubic), box-shadow 500ms var(--cubic);

    &:is(:hover, :focus) {
      transform: scale(0.9);
      box-shadow: 0px 0.996px 3.984px 0px var(--violet);
    }
  }

  &__imgWrap {
    width: 124px;
    height: 124px;
    border-radius: 50%;
    overflow: hidden;
  }

  &__name {
    font-size: 20px;
  }
}
