.container {
  width: 100%;
  /* min-width: 375px; */
  padding: 0 16px;
  margin: 0 auto;
  /* outline: 2px solid red; */

  @media screen and (min-width: 1440px) {
    max-width: 1440px;
  }
}

/* @media screen and (min-width: 1312px) {
  .container {
    max-width: 1312px;
  }
} */
