.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__logoutBtn {
    margin-left: auto;
  }

  &__mobLogoutBtn {
    width: 40px;
    height: 40px;
    padding: 0;
    border: none;
  }

  &__iconBack {
    width: 20px;
    height: 20px;
    fill: var(--white);
    transform: rotate(90deg);
  }
}
